accumulation-tree==0.6.2
asgiref==3.3.4
dj-database-url==0.5.0
Django==3.2.3
django-heroku==0.3.1
django-on-heroku==1.1.2
gunicorn==20.1.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pybrake==1.0.4
pytz==2021.1
pyudorandom==1.0.0
sqlparse==0.4.1
tdigest==0.5.2.2
whitenoise==5.2.0
