<nav class="navbar">
  <div class="max-width">
      <div class="logo"><a href="#">Vivek<span>Yadav.</span></a></div>
      <ul class="menu">
          <li><a href="{% url 'index'%}" class="menu-btn">Home</a></li>
          <li><a href="{% url 'about' %}" class="menu-btn">About</a></li>
          <li><a href="{% url 'services'%}" class="menu-btn">Services</a></li>
          <li><a href="{% url 'skills' %}" class="menu-btn">Skills</a></li>
          <li><a href="{% url 'projects'%}" class="menu-btn">Project & certificates</a></li>
          <li><a href="{% url 'contact' %}" class="menu-btn">Contact</a></li>
      </ul>
      <div class="menu-btn">
          <i class="fas fa-bars"></i>
      </div>
  </div>
</nav>






