{% extends 'main/base.html' %}

{% block content %}

{%include 'main/nav.html'%}
{% load static%}

  <!-- skills section start -->
  <section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>I'm learning Web development using Django framework 
                    Also completed Three months Internship with www.foodvybe.com 
                    and have a ML outstanding certification from Verzeo training.</p>
                <a href="{% static 'images/resume.pdf'%}">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>C++/Python</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>DSA/Algo</span>
                        <span>70%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Web Development</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span>
                        <span>70%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>django</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>


                </div>


                <div class="bars">
                    <div class="info">
                        <span>DataScience</span>
                        <span>65%</span>
                    </div>
                    <div class="line dataS"></div>

                    
                </div>


                <div class="bars">
                    <div class="info">
                        <span>ML</span>
                        <span>60%</span>
                    </div>
                    <div class="line ml"></div>

                    
                </div>

            </div>
        </div>
    </div>
</section>


{%endblock%}